body {
  background-color: #f3f3f3;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body header {
  margin-top: 30px;
  margin-bottom: 30px;
}
body header nav {
  background-color: #e8e8e8;
  width: 400px;
  height: 50px;
  border-radius: 30px;
  margin-left: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
body header nav a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding: 11px 20px 11px 20px;
  text-align: center;
  border-radius: 30px;
}
body header nav a:hover {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
body main {
  margin-left: 10%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 60px;
}
body main article section {
  background-color: #fff;
  height: 595px;
  width: 600px;
  border-radius: 30px;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main article section img {
  height: 200px;
}
body main article section p {
  margin: 0;
  font-size: 25px;
  font-weight: 0;
}
body main article section h1 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 40px;
  background-color: #2AA5A0;
  background-image: -webkit-gradient(linear, left top, right top, from(#79092e), to(#00d4ff));
  background-image: linear-gradient(90deg, #79092e, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body main article section div {
  width: 70%;
  font-size: 20px;
  margin-bottom: 20px;
}
body main article section div span {
  background-color: #2AA5A0;
  background-image: -webkit-gradient(linear, left top, right top, from(#79092e), to(#00d4ff));
  background-image: linear-gradient(90deg, #79092e, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body main article section button {
  font-size: 18px;
  height: 30px;
  width: 100px;
  border-radius: 30px;
  border: 2px solid gray;
}
body main article section button:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
body main article section button:active {
  background-color: gray;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
body aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
body aside section:first-child {
  border-radius: 30px;
}
body aside section:first-child a img {
  margin: 0;
  width: 520px;
  border-radius: 30px;
}
body aside section:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
body aside section:last-child div {
  background-color: #fff;
  border-radius: 30px;
}
body aside section:last-child div:first-child img {
  width: 235px;
}
body aside section:last-child div:last-child {
  width: 235px;
}
body aside section:last-child div:last-child img {
  border-radius: 30px;
  width: 235px;
}
body aside section:last-child div:last-child img:hover {
  opacity: 50%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
@media (max-width: 1300px) {
  body header {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  body header nav {
    margin-left: 400px;
  }
  body main article section {
    height: 500px;
    width: 400px;
  }
  body main aside section:first-child a img {
    width: 420px;
  }
  body main aside section:last-child {
    width: 150px;
  }
  body main aside section:last-child div:first-child {
    height: 200px;
  }
  body main aside section:last-child div:first-child img {
    width: 200px;
  }
  body main aside section:last-child div:last-child {
    height: 200px;
  }
  body main aside section:last-child div:last-child img {
    width: 200px;
  }
}
@media (max-width: 1000px) {
  body header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  body header nav {
    margin-left: 300px;
  }
  body main {
    margin-left: 5%;
  }
  body main article section {
    height: 395px;
    width: 400px;
  }
  body main article section img {
    height: 130px;
  }
  body main article section p {
    font-size: 22px;
  }
  body main article section h1 {
    font-size: 37px;
  }
  body main article section div {
    font-size: 18px;
  }
  body main article section button {
    font-size: 16px;
    width: 80px;
  }
  body main aside section:first-child a img {
    width: 320px;
  }
  body main aside section:last-child {
    width: 150px;
  }
  body main aside section:last-child div:first-child {
    height: 150px;
  }
  body main aside section:last-child div:first-child img {
    width: 150px;
  }
  body main aside section:last-child div:last-child {
    height: 150px;
  }
  body main aside section:last-child div:last-child img {
    width: 150px;
  }
}
@media (max-width: 850px) {
  body header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  body header nav {
    margin-left: 200px;
  }
  body header nav a {
    font-size: 14px;
  }
  body main {
    margin-left: 10%;
    gap: 40px;
  }
  body main article section {
    height: 335px;
    width: 300px;
  }
  body main article section img {
    height: 100px;
  }
  body main article section p {
    font-size: 20px;
  }
  body main article section h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  body main article section div {
    margin-bottom: 10px;
    font-size: 16px;
  }
  body main article section button {
    font-size: 12px;
    width: 60px;
    height: 22px;
  }
  body main aside section:first-child a img {
    width: 280px;
  }
  body main aside section:last-child {
    width: 150px;
    gap: 45px;
  }
  body main aside section:last-child div:first-child {
    height: 120px;
  }
  body main aside section:last-child div:first-child img {
    width: 120px;
  }
  body main aside section:last-child div:last-child {
    height: 120px;
  }
  body main aside section:last-child div:last-child img {
    width: 120px;
  }
}
@media (max-width: 735px) {
  body header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  body header nav {
    margin-left: 150px;
  }
  body header nav a {
    font-size: 12px;
  }
  body main {
    margin-left: 10%;
    gap: 40px;
  }
  body main article section {
    height: 295px;
    width: 300px;
  }
  body main article section img {
    height: 80px;
  }
  body main article section p {
    font-size: 18px;
  }
  body main article section h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  body main article section div {
    margin-bottom: 10px;
    font-size: 14px;
  }
  body main article section button {
    font-size: 10px;
    width: 50px;
    height: 18px;
  }
  body main aside section:first-child a img {
    width: 250px;
  }
  body main aside section:last-child {
    width: 150px;
    gap: 45px;
  }
  body main aside section:last-child div:first-child {
    height: 100px;
  }
  body main aside section:last-child div:first-child img {
    width: 100px;
  }
  body main aside section:last-child div:last-child {
    height: 100px;
  }
  body main aside section:last-child div:last-child img {
    width: 100px;
  }
}
@media (max-width: 675px) {
  body header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  body header nav {
    margin-left: 150px;
  }
  body header nav a {
    font-size: 12px;
  }
  body main {
    margin-left: 10%;
    gap: 30px;
  }
  body main article section {
    height: 235px;
    width: 250px;
  }
  body main article section img {
    height: 60px;
  }
  body main article section p {
    font-size: 15px;
  }
  body main article section h1 {
    font-size: 28px;
    margin-bottom: 8px;
  }
  body main article section div {
    margin-bottom: 8px;
    font-size: 12px;
  }
  body main article section button {
    font-size: 10px;
    width: 50px;
    height: 18px;
  }
  body main aside {
    gap: 10px;
  }
  body main aside section:first-child a img {
    width: 200px;
  }
  body main aside section:last-child {
    width: 150px;
    gap: 25px;
  }
  body main aside section:last-child div:first-child {
    height: 90px;
  }
  body main aside section:last-child div:first-child img {
    width: 90px;
  }
  body main aside section:last-child div:last-child {
    height: 90px;
  }
  body main aside section:last-child div:last-child img {
    width: 90px;
  }
}
@media (max-width: 550px) {
  body header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  body header nav {
    margin-left: 12%;
  }
  body main {
    margin-right: 0;
    margin-left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main article section {
    height: 395px;
    width: 400px;
  }
  body main article section img {
    height: 130px;
  }
  body main article section p {
    font-size: 22px;
  }
  body main article section h1 {
    font-size: 37px;
  }
  body main article section div {
    font-size: 18px;
  }
  body main article section button {
    font-size: 14px;
    width: 80px;
    height: 25px;
  }
  body main aside {
    gap: 30px;
  }
  body main aside section:first-child a img {
    width: 425px;
  }
  body main aside section:last-child {
    width: 150px;
    gap: 30px;
  }
  body main aside section:last-child div:first-child {
    height: 200px;
  }
  body main aside section:last-child div:first-child img {
    width: 200px;
  }
  body main aside section:last-child div:last-child {
    height: 200px;
  }
  body main aside section:last-child div:last-child img {
    width: 200px;
  }
}
@media (max-width: 450px) {
  body header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  body header nav {
    margin-left: 5%;
  }
  body main {
    margin-right: 0;
    margin-left: 2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main article section {
    height: 395px;
    width: 400px;
  }
  body main article section img {
    height: 130px;
  }
  body main article section p {
    font-size: 22px;
  }
  body main article section h1 {
    font-size: 37px;
  }
  body main article section div {
    font-size: 18px;
  }
  body main article section button {
    font-size: 14px;
    width: 80px;
    height: 25px;
  }
  body main aside {
    gap: 30px;
  }
  body main aside section:first-child a img {
    width: 425px;
  }
  body main aside section:last-child {
    width: 150px;
    gap: 30px;
  }
  body main aside section:last-child div:first-child {
    height: 200px;
  }
  body main aside section:last-child div:first-child img {
    width: 200px;
  }
  body main aside section:last-child div:last-child {
    height: 200px;
  }
  body main aside section:last-child div:last-child img {
    width: 200px;
  }
}